server:
  port: 4444

eureka:
  instance:
  # hostname: localhost
  prefer-ip-address: false
  # instance-id: ${spring.application.name}:${spring.cloud.client.hostname}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://localhost:1111/eureka/

feign:
  hystrix:
    enabled: true # 开启容错

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000  #命令执行超时时间,默认1000ms